h1 {
    color: red;
    font-family: sans-serif;
    border-bottom: 3px solid blue;
    }

h2, h3, h4 {
    font-family: 'Jersey 10';
    }

h3, h4 {
    font-size: 25px;
}

blockquote {
    background-color: rgb(194, 184, 154);
    padding: 1rem;
    }

body {
    background-color: #ffe9c6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

span {
    background-color: rgb(255, 157, 115);
    }

p {
    margin-left: 50px;
    }

.side {
    margin-right: 10px;
    margin-top: 20px;
    float: right;
    transform: rotate(5deg);
    }

ul li>b {
    color:brown;
    }

p b {
    color: brown;
    }
