html {
    font-size: 100%
}

body {
    background-color: #D4FFEA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1 {
    color: red;
    font-family: 'Jersey 10', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    border-bottom: 8px solid #2a2a96;
    font-size: 3.5rem;
}

h2, h3, h4 {
    font-family: 'Jersey 10', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 2rem;
    
}

p {
    margin-left: 50px;
}


blockquote {
    background-color: #A3DFCA;
    padding: 1rem;
}

span {
    background-color: #A3DFCA;
}

.side {
    margin-right: 10px;
    margin-top: 20px;
    float: right;
    transform: rotate(5deg);
}

ul li b,
p b {
    color: #E21E02;
}
