body {
    margin: 0;
    font-family: "Neuton", Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

html,
body {
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=187379"), auto;
    /* just change the cursor.ico path to your location */
}

#wrapper {
    display: grid;
    /* height: 100vh;
    grid-template-columns: 55% 45%;
    grid-template-areas: "header header"
    "content content"; */
}

#content {
    grid-area: content;
    display: grid;
    height: 100vh;
    grid-template-columns: 55% 45%;
    grid-template-areas: "left right";
    margin-top: 15%;
}

h1 {
    grid-area: header;
    color: #ce9f3a;
    font-style: italic;
    font-size: 15vw;
    margin: auto;
    position: absolute;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    margin-left: 10vw;
    /* background-image: url("../media/banner.gif");
    background-repeat: no-repeat;
    background-size: 200px; */
}

h2 {
    letter-spacing: 5px;
}

h2,
h3 {
    color: #f371f3;
    font-style: italic;
    border-bottom: 2px solid #edbafa;
    border-top: 2px solid #edbafa;
    font-family: "Momo Signature", Arial, Helvetica, sans-serif;
}

#rightside {
    grid-area: right;
    margin-left: 25px;
    margin-right: 8px;
}

#rightside img:not(.banner) {
    float: right;
    width: 40%;
}

/* #banner {
    width: 400px;
} */

.banner {
    width: 25vw;
    padding: 2px;
}

#rightside h3 {
    clear: both;
}

#rightside #double {
    display: flex;
    flex-flow: row nowrap;
}

.flex-50 {
    flex: 1 1 50%;
    width: 40%;
}

.flex-50 p {
    padding: 10px;
}

#layered {
    object-fit: contain;
    margin: 10px;
}

#leftside {
    grid-area: left;
}

#leftside img{
    float: left;
}

#bigguy {
    width: 100%;
    /* position: absolute; */
    /* max-width: 650px; */
    /* the gap will be fixed with media queries later */
}

#underbig {
    clear: both;
    padding: 10px;
}

#underbig img:not(.banner) {
    padding-right: 10px;
    width: 20%;
}