body {
    margin: 0;
    font-family: "Neuton", Arial, Helvetica, sans-serif;
    background-color: #fff4fb;
}

html,
body {
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=187379"), auto;
    /* just change the cursor.ico path to your location */
}

#wrapper {
    display: grid;
    /* height: 100vh;
    grid-template-columns: 55% 45%;
    grid-template-areas: "header header"
    "content content"; */
}

#content {
    grid-area: content;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: 55% 45%;
    grid-template-areas: "right right"
                        "left left"
                        "bottom bottom";
    margin-top: 15%;
}

@media screen and (min-width: 750px) {
    #content {
        grid-template-areas: "left right"
        "bottom bottom";
    }
}


#bottom {
    grid-area: bottom;
    margin: 0 5vw;
}

h1 {
    grid-area: header;
    color: #ce9f3a;
    font-style: italic;
    font-size: 15vw;
    margin: auto;
    position: absolute;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
    margin-left: 10vw;
    /* background-image: url("../media/banner.gif");
    background-repeat: no-repeat;
    background-size: 200px; */
}

h2 {
    letter-spacing: 5px;
}

h2,
h3,
h4 {
    color: #f371f3;
    font-style: italic;
    border-bottom: 3px solid #edbafa;
    border-top: 3px solid #edbafa;
    font-family: "Momo Signature", Arial, Helvetica, sans-serif;
    padding: 10px;
}

#rightside {
    grid-area: right;
    margin-left: 25px;
    margin-right: 8px;
}

#rightside img:not(.banner) {
    float: right;
    width: 40%;
}

.banner {
    width: 25vw;
    min-width: 250px;
    padding: 2px;
}

#rightside h3 {
    clear: both;
}

#leftside #double {
    display: flex;
    flex-flow: row wrap;
}

.flex-50 {
    flex: 1 1 50%;
    width: 30%; 
    clear:both;
}

.flex-50 p {
    padding: 10px;
}

#layered {
    object-fit: contain;
    margin: 10px;
}

#leftside {
    grid-area: left;
}

#leftside img {
    float: left;
}

#bigguy {
    width: 100%;
    /* position: absolute; */
    /* max-width: 650px; */
    /* the gap will be fixed with media queries later */
}

#underbig {
    clear: both;
    padding: 10px;
}

#underbig img:not(.banner) {
    padding-right: 10px;
    width: 20%;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style-image: url("../media/bow.png");
    list-style-type: square;
}

#annoying {
    margin-left: 15vw;
}

a {
    color: #aa1f8e;
}

a:link {
    color: #aa1f8e;
}

a:visited {
    color: #da5bc5;
}

a:hover {
    color: #f1a3ff;
}

a:active {
    color: #dd2694;
}

img {
    min-width: 180px;
}