html {
    display: flex;
    background-color: #FFF2EF;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #FFF2EF;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#above {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header {
    display: flex;
}


h1,
h2,
h3,
h4,
p,
div {
    padding: 10px;
}

h2 {
    color: #FFDBB6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1,
div#lefttop>h2 {
    font-family: 'Amarante', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #82466a;
    font-size: 2rem;
    letter-spacing: 6px;
}

div#lefttop>h2 {
    background-color: #FFF2EF;
    border-radius: 10%;
}

h1 {
    color: #F7A5A5;
}

h3,
h4 {
    font-family: 'Amarante', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #5D688A;
    letter-spacing: 3px;
    font-size: 18.72px;
}

h4 {
    margin: 10px;
}

div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 3%;
}

p,
ul,
a {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

#righttop {
    flex-shrink: 1.5;
    justify-content: center;
    margin: 20px 30px;
    background-color: #5D688A;
    border: 5px solid #F7A5A5;
    border-radius: 5%;
}

#lefttop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFDBB6;
    border-radius: 2%;
}

div#lefttop p {
    margin: 1% 23%;
}

#below {
    display: flex;
    justify-content: center;
    background-color: #F7A5A5;
    margin: 5%;
    border-radius: 10px;
}

#projects {
    display: flex;

}

#sites {
    justify-content: space-evenly;
}

footer {
    flex: 0 0 100%;
    max-width: 100%;
    color:#82466a;
}

b {
    color: #5D688A;
}
#you{
    width: 15vw;
}

div.polaroid {
    display: flex;
    justify-content: center;
    width: 15vw;
    height: 17vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: -20px;
}

#decor {
    display: flex;
    margin: 0;
    height: 100px;
    width: 100px;
    background-image: url("../images/big-dot.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 200px;
    left: 35%;
}

#hello {
    display: flex;
    margin: 0;
    height: 100px;
    width: 100px;
    background-image: url("../images/lil-dot.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 210px;
    left: 45%;
}

li.color {
    color: #5D688A;
}

a {
    color: #5D688A;
}

a:link {
    color: #5D688A;
}

a:visited {
    color: #82466a;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffb468;
}