#wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas: "header header header"
        "landing landing landing"
        "games games games"
        "bottom bottom bottom";
    place-items: center;
    /* min should be 900 */
}

/* 
@media screen and (min-width: 800px) {
    #wrapper {
        display: grid;
        height: 100vh;
        grid-template-columns: 30% 50% 20%;
        grid-template-areas: "header header header"
            "name name name"
            "about about about"
            "games games games"
            "bottom bottom bottom";
        place-items: center;
    }
} */

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F5EBE0;
    color: #68241a;
    margin: auto;
}

header {
    grid-area: header;
    width: 100%;
    background-color: #F0DBDB;
    text-align: center;
}

#landing {
    grid-area: landing;
    display: grid;
    grid-template-areas: "name name name"
                        "about about about";
    place-items: center;
    background-color: #F5EBE0;
    padding: 5vh 0px;
    border: 10px solid #F0DBDB;
    border-radius: 25px;
}

@media screen and (min-width: 820px) {
    #landing {
        grid-template-areas: "name about about";
    }
}

#name {
    grid-area: name;
    place-self: center;
    padding: 8vh 5vw;
    margin: 1vw 5vw;
    background-color: #68241a;
    border-radius: 20px;
    color: white;
    filter: drop-shadow(8px 8px 1px #DBA39A); 
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#name h2 {
    padding: 0 10px;
}

#potrait img {
    width: 100%;
    place-self: center;
}

#potrait {
    width: 30vw;
    display: flex;
}

@media screen and (min-width: 820px) {
    #name {
        grid-area: name;
        place-self: center;
        padding: 8vh 5vw;
        margin: 1vw 5vw;
        width: 50%;
    }
    #potrait {
        /* width: 100%; */
        width: 15vw;
    }
}


#about {
    grid-area: about;
    padding: 0px 5vw;
    height: 60%;
    background-color: #DBA39A;
    text-align: center;
    /* display: flex; */
    flex-flow: column wrap;
    justify-content: center;
    margin: 100px 5vw;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 2px #c9897f);
}

#navigation {
    grid-area: nav;
}

#games {
    grid-area: games;
    margin: 10vh 5vw;
    background-color: #F5EBE0;
}

#games div {
    padding: 10px 0px;
}

#games div img {
    width: 30vh;
}

.inside {
    display: flex;
}

.inside p {
    padding: 3vw;
}

#bottom {
    grid-area: bottom;
    width: 100%;
    margin: 30px;
    padding: 3vh;
    text-align: center;
    background-color: #F0DBDB;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}


#label {
    margin: 0px;
}

a {
    color: #82466a;
}

a:link {
    color: #82466a;
}

a:visited {
    color: #da5b81;
}

a:hover {
    color: #eb9696;
}

a:active {
    color: #82466a;
}